<h1><%= @application.name %></h1>
<p>
  <%= @application.street_address %><br>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip_code %><br>
  <%= @application.description %><br>
  <%= @application.names_of_pets %><br>
  <%= @application.status %><br>
</p>

<h4>Add a Pet to this Application</h4>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label 'Search by name:' %>
  <%= form.text_field :search %>
  <%= form.submit value: "Search" %>
<% end %>
<br>
<% @pets.each do |pet| %>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.hidden_field :adopt, :value => pet.name %>
    <%= form.label  "Name: #{pet.name}"%>
    <%= form.submit value: "Adopt this Pet" %>
  <% end %>
  Age: <%= pet.age %><br>
  Breed: <%= pet.breed %><br>
  Adoptable?: <%= pet.adoptable %><br>
  <br>
<% end %>
