<h1><%= @application.name %></h1>
<p>
  <%= @application.street_address %><br>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip_code %><br>
  <% @application.pets.each do |pet| %>
    <%= pet.name %>
  <% end %><br>
  <%= @application.description %><br>
  <%= @application.status %><br>
</p>

<% if @application.description == "" %>
  <% if @pet_added == true %>
    <%= render "description" %>
  <% end %>
  <h4>Add a Pet to this Application</h4>
  <%= render "search" %>
  <br>
  <% @searched_pets.each do |pet| %>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
      <%= form.hidden_field :adopt, :value => pet.id %>
      <%= form.label  "Name: #{pet.name}"%>
      <%= form.submit value: "Adopt this Pet" %>
    <% end %>
    Age: <%= pet.age %><br>
    Breed: <%= pet.breed %><br>
    Adoptable?: <%= pet.adoptable %><br>
    <br>
  <% end %>
<% end %>
