<p>
  <%= @application.street_address %><br>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip_code %><br>
  <%= @application.description %><br>
  <% @application.pets.each do |pet|%>
    <div id="id-<%pet.id%>">
      <% if params[:pet_id] != pet.id %>
        <%= pet.name %>
        <%= button_to "Approve", admin_show_path(@application.id), method: :patch, params: { pet_id: pet.id, status: "approved" } %>
        <%= button_to "Deny", admin_show_path(@application.id), method: :patch, params: { pet_id: pet.id, status: "denied" } %><br>
      <% end %>
      <% if @pa != nil %>
        <%= pet.name %>: <%= @pa.status %>
      <% end %>
    </div>
  <% end %>
  <%= @application.status %><br>
</p>